svg {
    -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
    filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}
.svg-container {
    display: inline-block;
    position: absolute;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    position: relative;
    z-index: -1;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    pointer-events: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px; /*This makes it longer*/
    top: 0px;
    left: 0px;
}
